body {
    background-color: black;
}

body {
    background:radial-gradient(ellipse at center, black 0%, black 35%, #1e0d20 100%);
    overflow: hidden;
}
  
.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
    margin-left: 0;
    }
    100% {
    margin-left: -1600px;
    }
}

@keyframes swell {
    0%, 100% {
    transform: translate3d(0,-25px,0);
    }
    50% {
    transform: translate3d(0,5px,0);
    }
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6%;
}

.pad {
    padding-top: 20px;
    text-align: center;
    width: 100%
}

.screen {
    border-color: purple;
    border-style: solid;
    border-radius: inherit;
    background-color: rgb(216, 119, 216);
    text-align: right;
    font-size: 3.5rem;
    width: 96%;
    padding-left: 2%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 4rem;
}

.top_screen {
    border-color: purple;
    border-style: solid;
    border-radius: inherit;
    background-color: rgb(216, 119, 216);
    text-align: left;
    font-size: 1.2rem;
    width: 96%;
    padding-left: 2%;
}

.numbers {
    margin-right: 1rem;
}

.calculator {
    width: 27rem;
    background-image: linear-gradient(purple, rgb(105, 0, 105), purple, rgb(105, 0, 105) );
    padding-bottom: 1rem;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(212, 0, 212);
    z-index: 1;
}

.num-button {
    font-size: 20px;
    width: 4rem;
    height: 4rem;
    border: none;
    margin-bottom: 3px;
}

.btns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
    column-gap: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    color: rgb(231, 181, 255);
    border-radius: 5%;
    background-color: rgb(97, 0, 97);
    box-shadow: 0 5px 20px rgb(212, 0, 212);
}

.btn:hover {
    background-color: rgb(41, 0, 41);;
}